/OpenStreetMapLibrary/nbproject/private/
/OpenStreetMapLibrary/build/
/BotPubblicita/nbproject/private/
/BotPubblicita/build/
/FileLibrary/nbproject/private/
/FileLibrary/build/
/HTTPLibrary/nbproject/private/
/HTTPLibrary/build/
/XMLParserLibrary/nbproject/private/
/XMLParserLibrary/build/
/JSONParserLibrary/nbproject/private/
/JSONParserLibrary/build/
/UtilityLibrary/nbproject/private/
/UtilityLibrary/build/
/BotPubblicita_Ripasso/nbproject/private/
/BotPubblicita_Ripasso/build/
/UtilityLibrary/dist/
